.billing_form .form_group input{
   border: 1px solid var(--card-bg-03);
}
.checkout_card{
    padding: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    margin-top: 42px;
}

.checkout_card h6, h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout_card h6 {
    margin-bottom: 15px;
}
.buy_btn1{
    background: #fff;
    color: var(--primary-color);
    padding: 8px 0px;
    margin-top: 10px;
    border-radius: 5px;
}

.checkout_card h4{
    border-top: 1px solid rgba(195, 195, 195, 0.301);
    border-radius: 5px;
    padding-top: 20px ;
}